@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-quickSand: var(--font-quickSand);
  --font-inter: var(--font-inter);
}